.customers{
    background-color:white;
    margin-top: 70px;
   
   .cards{
    display: flex;
    flex-direction: row;
    gap:30px;
    margin-left: 120px;
    white-space: pre-line ;
    padding-bottom: 60px;
   }
   .cusText{
   padding-top: 50px;
   padding-left: 560px;
   padding-bottom: 50px;
 
    
    h1{
        font-size: 42px;
        line-height: 58px;
        font-weight: 700;
        color: #0B254B;
        width: 580px;
       }
   }
  
}