.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .links{
        display: flex;
        align-items: center;
        gap: 40px;
        .link{
            text-decoration: none;  
            font-size:14px ;
            font-weight: 600;
            line-height: 21px;
        }
        .link:hover{
            color: antiquewhite;
        }
    }
}